<header class="place-card-header">
  <div class="place-card-header-info">
    <h1 class="place-card-header-title">BQ125</h1>
<!--    <mn-rating [formControl]="rating"></mn-rating>-->
  </div>
  <div class="place-card-header-actions">
    <button class="button is-secondary">
      <mn-icon iconName="close"></mn-icon>
    </button>

    <button class="button is-secondary">
      <mn-icon iconName="close"></mn-icon>
    </button>

    <button class="button is-secondary">
      <mn-icon iconName="close"></mn-icon>
    </button>
  </div>
</header>

<div class="place-card-content">
  <div class="description-section">
    <p>Привет, это описание, думаю сделать его на Markdown</p>
  </div>

  <div class="photos-section">
    <ul class="preview-list">
      <li class="preview-list-item">
        <div class="preview-img" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg)"></div>
      </li>
    </ul>
  </div>
</div>

<div class="main-actions">
  <button class="button double-gis-button">Построить маршрут в 2GIS</button>
  <button class="button yandex-taxi-button">Заказать Яндекс Такси</button>
</div>
