<header class="place-card-header">
  <div class="place-card-header-info">
    <h1 class="place-card-header-title">{{ place.name }}</h1>
<!--    <mn-rating [formControl]="rating"></mn-rating>-->
  </div>
  <div class="place-card-header-actions">
    <button class="button is-secondary" (click)="onClickDeleteButton()">
      <mn-icon iconName="close"></mn-icon>
    </button>

    <button class="button is-secondary" (click)="onClickEditButton()">
      <mn-icon iconName="close"></mn-icon>
    </button>

    <button class="button is-secondary" (click)="onClickCloseButton()">
      <mn-icon iconName="close"></mn-icon>
    </button>
  </div>
</header>

<div class="place-card-content">
  <div class="description-section" [innerHTML]="convertMarkdown(place.description)"></div>

  <div class="photos-section">
    <ul class="preview-list">
      <li class="preview-list-item" *ngFor="let photoUrl of place.photos">
        <div class="preview-img" style="background-image: url({{ photoUrl }})"></div>
      </li>
    </ul>
  </div>
</div>

<div class="main-actions">
  <a [attr.href]="doubleGisDeepLink | async" target="_blank" class="button double-gis-button">Построить маршрут в 2GIS</a>
  <a [attr.href]="yandexTaxiDeepLink | async" target="_blank" class="button yandex-taxi-button">Заказать Яндекс Такси</a>
</div>
