:host {
  display: block;
}

.star-button {
  color: hsla(0, 0%, 83%, 1);
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.star-button .icon-image {
  width: 3rem;
  height: 3rem;
}

.star-button.is-selected {
  color: hsla(48, 100%, 50%, 1);

}
.star-button[disabled]{
  color: hsla(48, 0%, 46%, 1);
}
