<header class="shell-header">
  <div class="actions-container">
    <button *ngIf="isShowAddButton" class="button is-primary is-small" (click)="onClickAddButton()">Добавить</button>
  </div>

  <div class="search-container">
    <input type="text"
           placeholder="Поиск..."
           class="search-input"
           [formControl]="searchFormControl">

    <button class="clear-button" (click)="onClickClearButton()">
      <mn-icon iconName="close" aria-hidden="true"></mn-icon>
    </button>

    <button class="button is-secondary toggle-shell-button">🔼</button>
  </div>

  <div class="tags-container">
    <mn-tags-filter class="mn-tags-filter"
                    [tags]="['Паб', 'Бар', 'Ресторан']"
                    (selectedChanges)="onTagsSelectedChanges($event)"></mn-tags-filter>
  </div>
</header>

<mn-place-card *ngIf="placeCardController.currentOpenedPlace !== null"
               [place]="placeCardController.currentOpenedPlace"
               (cardClose)="onClosePlaceCard()"></mn-place-card>
