/* You can add global styles to this file, and also import other style files */

:root {
  --primary-button-color: hsl(203, 76%, 58%);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.icon-image {
  width: 1rem;
  height: 1rem;
}

/** region BUTTON */

button {
  cursor: pointer;
  font: inherit;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.button.is-primary {
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 14px;
}

.button.is-secondary {
  background-color: hsl(0, 0%, 95%);
  color: black;
  border-radius: 14px;
}

.button.is-small {
  padding: 0.5rem 1rem;
}

.button.is-medium {
  padding: 1rem;
}

/** endregion */

/* region INPUT */

.input {
  border: none;
  border-radius: 14px;
  padding: 1rem;
  width: 100%;
  font: inherit;
  background-color: hsl(0deg 0% 95%);
}

/* endregion */

.place-marker-tooltip .leaflet-popup-content {
  font-family: var(--font-family);
  max-width: 100px;
  padding: 0.3rem 1rem;
  font-size: 16px;
  border-radius: 14px;
  margin: 0;
}


/* region Photos preview */

.preview-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.preview-img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}

.preview-list-item {
  position: relative;
}

/* endregion */
